<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
        <id>{{ asn }}</id>
        {% if neighbor %}
        <neighbor operation="{{ operation }}">
          <id>{{ neighbor.ipv4_address }}</id>
          {% if neighbor.remote_asn %}
          <remote-as>{{ neighbor.remote_asn }}</remote-as>
          {% endif %}
          {% if neighbor.peer_template.session_name %}
          <inherit>
            <peer-session>{{ neighbor.peer_template.session_name }}</peer-session>
          </inherit>
          {% endif %}
          {% if neighbor.ebgp_multihop %}
          <ebgp-multihop>
            <max-hop>{{ neighbor.ebgp_multihop }}</max-hop>
          </ebgp-multihop>
          {% endif %}
          {% if neighbor.update_source_interface %}
          <update-source>
            <interface>
              <{{ neighbor.update_source_interface.name }}>{{ neighbor.update_source_interface.id }}</{{ neighbor.update_source_interface.name }}>
            </interface>
          </update-source>
          {% endif %}
          {% if neighbor.timers %}
          <timers>
            <keepalive-interval>{{ neighbor.timers.keepalive_interval }}</keepalive-interval>
            <holdtime>{{ neighbor.timers.holdtime }}</holdtime>
            {% if neighbor.timers.minimum_neighbor_holdtime %}
            <minimum-neighbor-hold>{{ neighbor.timers.minimum_neighbor_holdtime }}</minimum-neighbor-hold>
            {% endif %}
          </timers>
          {% endif %}
        </neighbor>
        {% endif %}
        <address-family>
          <no-vrf>
            <ipv4>
              <af-name>unicast</af-name>
              <ipv4-unicast>
                {% if neighbor %}
                <neighbor operation="{{ operation }}">
                  <id>{{ neighbor.ipv4_address }}</id>
                  <activate/>
                  {% if neighbor.peer_template.policy_name %}
                  <inherit>
                    <peer-policy>{{ neighbor.peer_template.policy_name }}</peer-policy>
                  </inherit>
                  {% endif %}
                  {% if neighbor.route_reflector_client %}
                  <route-reflector-client/>
                  {% endif %}
                  {% if neighbor.send_community_extended %}
                  <send-community>
                    <send-community-where>extended</send-community-where>
                  </send-community>
                  {% endif %}
                  {% if neighbor.send_community_both %}
                  <send-community>
                    <send-community-where>both</send-community-where>
                  </send-community>
                  {% endif %}
                  {% if neighbor.allowas_in %}
                  <allowas-in>
                    <as-number>{{ neighbor.allowas_in }}</as-number>
                  </allowas-in>
                  {% endif %}
                  {% if neighbor.as_override %}
                  <as-override>
                  </as-override>
                  {% endif %}
                  {% if neighbor.maximum_prefix %}
                  <maximum-prefix>
                    <max-prefix-no>{{ neighbor.maximum_prefix }}</max-prefix-no>
                  </maximum-prefix>
                  {% endif %}
                  {% if neighbor.next_hop_self %}
                  <next-hop-self>
                  </next-hop-self>
                  {% endif %}
                  {% if neighbor.remove_private_as %}
                  <remove-private-as>
                  </remove-private-as>
                  {% endif %}
                  {% if neighbor.soft_reconfiguration_inbound %}
                  <soft-reconfiguration>inbound</soft-reconfiguration>
                  {% endif %}
                  {% if neighbor.soo %}
                  <soo>{{ neighbor.soo }}</soo>
                  {% endif %}
                </neighbor>
                {% endif %}
              </ipv4-unicast>
            </ipv4>
          </no-vrf>
        </address-family>
      </bgp>
    </router>
  </native>
</config>